# top {
  display: inline;
}
.button {
  float: right;
  margin: 30px 20px 0 0;
  position: relative;
}
h1 {
  float: left;
}
#title {
  clear: left;
  margin: 0px 20px 0px 20px;
  text-align: center;
  font-weight: bold;
}
.par_text {
  margin: 20px 20px 5px 20px;
  padding-left: 15%;
  padding-right: 15%;
}
img.frame {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.box {
  width: 400px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.ruby_code {
  margin: 20px 20px 5px 20px;
  text-align: center;
}
.ruby_code i {
color: #F78181;
}
